html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

:root {
  --brown: rgb(170, 131, 2);
}
body {
    background-color: rgb(230, 230, 230);
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
    width: 100%;
    margin: 0 auto;
  }


.nav-bar {
    height: 55px;
    background-color: rgb(83, 83, 83);
    border-bottom: 1px solid rgb(247, 247, 247);
  }
  
  .nav-bar__content {
    width: 70%; /*TODO */
    height: 100%;
    margin: 0 auto;
    line-height: 55px;
  }

  .nav-bar__logo {
    padding-left: 10px;
    font-size: 3em;
    text-decoration: none;
    height: 90%;
  }

  .nav-bar__logo img {
      position: relative;
      top: 5%;
      height: 90%;
  }
  
  .nav-bar__list {
    float: right;
    font-size: 0.85em;
   }
  
  .nav-bar__item {
    display: inline-block;
    margin-right: 11px;
  }
  
  .nav-bar__link {
 
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 2.1em;
    transition: all 0.4s;
  }

  .nav-bar__link:last-child {
    margin: 0;
  }
  
  .nav-bar__link:hover{
    color: var(--brown);
    transition: all 0.4s;
  }

  .nav-bar__link:hover::after{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s;
  }
  
  .nav-bar__link::after {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: rgb(187, 143, 0);
    content: '';
    opacity: 0;
    transform: translateY(12px);
    transition: all 0.4s;
  }
  
  .header-main__image-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }

  .header-main__image {
      height: 165px;
  }
  .header-main__name{
    height: 75px;
    border-right: 1px solid rgb(202, 202, 202);
    border-left: 1px solid rgb(201, 201, 201);
    margin-bottom: 30px;
  } 

  .owl-carousel {
      width: 50%;
      margin: 30px auto 0px auto;

  }

  .carousel__item {
      height: 260px;
      border-radius: 7px;
      border: 1px solid black;
      background-color: gray;
  }

  .carousel__item > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  .headline--big {
    width: 95%;
    margin: 0 auto;
    font-family: 'Quicksand';
    font-weight: lighter;
    text-align: center;
    font-size: 8.8em;
    letter-spacing: 4.9px;
    margin-bottom: 55px;
    display: inline;
    padding-bottom: 8px;

  }
  .header__description {
    width: 95%;
    margin: 0 auto;
    font-family: 'Quicksand';
    font-weight: lighter;
    text-align: center;
    font-size: 8.8em;
    letter-spacing: 4.9px;
  }

  .description--highlight {
    font-weight: bold;
    color: var(--brown);
  }

  .last-work {
    margin-top: 40px;
    height: 700px;
    background-color: rgb(247, 247, 247);
  }

  .text--centered-wrapper {
    padding: 15px 0px 25px 0px;
    text-align: center;
  }
  .highlight--centered {
    font-size: 2.8em;

  }

  .last-work__list {
    display: flex;
    justify-content: space-between;
    max-height: 400px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
  }

  .last-work__list__item {
    background-image: linear-gradient(to bottom, #f8f8f8, #f6f6f6, #f4f4f4, #f2f2f2, #f0f0f0);
    text-align: center;
    display: inline-block;
    width: 29%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 2px 0px rgb(97, 97, 97);
  }

  .last-work__list__item > img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
  }

  .last-work__item__title {
    display: block;
    font-size: 2em;
    font-family: 'Quicksand';
    font-weight: 900;
    padding: 7px 5px;
  }

  .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    font-family: 'Open sans';
    width: 230px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 1.8em;
    border-radius: 25px;
    color: white;
    transition: all 0.2s;
  }

  .btn:hover {
    cursor: pointer;
  }

  .gallery-btn {
   background-color: rgb(245, 245, 245);
   margin-bottom: 20PX;
   border: 2px solid rgb(126, 126, 126);
   color: rgb(29, 29, 29);
  }

  .gallery-btn:hover {
    background-color: rgb(109, 107, 107);
    color: white;
  }

  .contact-btn {
    background-color: rgb(0, 110, 255);
    width: 300px;
  }

  .contact-btn:hover {
    background-color: rgb(255, 123, 0);
    color: rgb(255, 255, 255);
  }

  .footer-main {
    height: 70px;
    background-color: rgb(46, 46, 46);
  }

  .about-us {
    height: 700px;
    background-color: rgb(250, 250, 250);
  }

  .about-us__text-wrapper--left {
    background-color: rgb(228, 228, 228); /* TODO*/
    width: 55%;
    position: absolute;
    left: 0;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 5px;
    font-size: 1.9em;
    min-height: 300px;
  }

  .sticked--right {
    width: 70%;
    float: right;
    padding: 15px 15px 35px 0px;
  }

  .about-us__image--right {
    position: relative;
    left: 60%;
    width: 30%;
  }