html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
    background-color: rgb(230, 230, 230);
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: black;
    width: 100%;
    margin: 0 auto;
  }
  
.nav-bar {
    height: 55px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(247, 247, 247);
  }
  
  .nav-bar__content {
    width: 100%; /*TODO */
    height: 100%;
    margin: 0 auto;
    line-height: 55px;
  }

  .nav-bar__logo {
    padding-left: 10px;
    font-size: 3em;
    color: black;
    text-decoration: none;
    height: 90%;
  }
  .nav-bar__logo img {
      position: relative;
      top: 5%;
      height: 90%;
  }
  
  .nav-bar__list {
    float: right;
    font-size: 0.85em;
   }
  
  .nav-bar__item {
    display: inline-block;
    margin-right: 11px;
  }
  
  .nav-bar__link {
 
    position: relative;
    color: black;;
    text-decoration: none;
    font-size: 2.1em;
    transition: all 0.4s;
  }

  .nav-bar__link:last-child {
    margin: 0;
  }
  
  .nav-bar__link:hover{
    color: rgb(187, 143, 0);
    transition: all 0.4s;
  }

  .nav-bar__link:hover::after{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.4s;
  }
  
  .nav-bar__link::after {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: rgb(187, 143, 0);
    content: '';
    opacity: 0;
    transform: translateY(12px);
    transition: all 0.4s;
  }
  
  .header-main__image-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }

  .header-main__image {
      height: 200px;
  }
  .header-main__name{
    height: 75px;
    border-right: 1px solid rgb(202, 202, 202);
    border-left: 1px solid rgb(201, 201, 201);
  } 

  .owl-carousel {
      margin-top: 30px;
      width: 50%;
      margin: 30px auto 0px auto;

  }

  .carousel__item {
      height: 260px;
      border-radius: 7px;
      border: 1px solid black;
      background-color: gray;
  }

  .carousel__item > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  .owl-stage-outer {

  }